<div class="well">
  <%= simple_form_for(@request_form_type, default_form_options) do |f| %>

  <div class="form-inputs">
          <%= f.input :kind %>
          <%= f.input :description %>
          <%= f.input :active %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
  <% end %>
</div>