

<%= form_for(@rft_volunteer_subscribe) do |f| %>
  <div class='form form-electronic'>
  <p class="notes">
        Los campos marcados con <em class="asterisco">*</em> son obligatorios.
    </p>
  <% if @rft_volunteer_subscribe.errors.any? %>
    <div id="errores" class="nofluid">
       <div class="info-seccion">
          <div class="modal-alert modal-error">
            <h2 class="title-modal">Existen errores en el formulario</h2>
            <a href="#" onclick='closeErrores()' class="close" title="<%= t("application.close") %>">&times;</a>
            <h2><%= pluralize(@rft_volunteer_subscribe.errors.count, "error") %> </h2>

            <ul>
              
              <% @rft_volunteer_subscribe.errors.full_messages.each do |message| %>
              <li><%= message %></li>
              <% end %>
            </ul>
       </div>
      </div>      
    </div>
  <% end %>


<legend class="parrafo">1. DESEO RECIBIR INFORMACIÓN SOBRE VOLUNTARIADO</legend>

  <div class="row">
  
    <div class="col-xs-12 col-sm-12 col-md-12">
      <div class="form-group">
       <span class="labelUp">Nombre <span class="asterisco">*</span></span>
       <%= f.text_field :name %>
      </div> 
    </div>
   </div>
  

  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6">
     <div class="form-group">
        <label for="apellido1">
        <span class="labelUp">Apellido1 <span class="asterisco">*</span></span>
        <%= f.text_field :first_surname %>
        </label>
     </div>   
    </div>  
    <div class="col-xs-12 col-sm-6 col-md-6">
       <div class="form-group"> 
        <span class="labelUp">Apellido2 </span>
        <%= f.text_field :second_surname %>
       </div> 
    </div>
   
  </div>  

<div class="row">
 <div class="col-xs-12 col-sm-6 col-md-6">
   <div class="form-group">
    <span class="labelUp">Telefono de contacto<span class="asterisco">*</span></span>
    <%= f.text_field :phone_number, :maxlength => 9 %>
   </div> 
  </div>
  <div class="col-xs-12 col-sm-6 col-md-6">
    <div class="form-group">
    <span class="labelUp">Correo electrónico <span class="asterisco">*</span></span>
    <%= f.text_field :email %>
   </div> 
  </div>
</div>
</div>

   <div class="button-group">
    
        <%= f.submit 'Enviar', :class => 'button button4' %>
    
 </div> 
<% end %>