<%= form_for(@rt_project_publishing, default_form_options) do |f| %>
<div class="form form-electronic">
  <%= render(partial: 'shared/errors', locals: {model_name: @rt_project_publishing})%>
  <p class="notes mb20">
    Los campos marcados con <em class="asterisco">*</em> son obligatorios.
  </p>
  <fieldset>
    <div class="row">
      <div class="col-md-9">
        <div class="form-group all">
          <label class="labelUp"><%= Rt::ProjectPublishing.human_attribute_name(:notes) %> <span class="asterisco">*</span></label>
          <%= f.text_field :notes, {class: 'all'} %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-9">
        <div class="form-group all">
          <label class="labelUp"><%= Rt::ProjectPublishing.human_attribute_name(:description) %> <span class="asterisco">*</span></label>
          <%= f.text_area :description, {class: 'all'} %>
        </div>
      </div>
    </div>
  </fieldset>
  <hr>
  <%= render partial: 'shared/addressInternetNT', locals: {f: f} %>
  <hr>
  <div class="button-group text-right pb80">
    <%= link_to 'Cancelar', user_path(current_user.id), class: "event-link negative big"  %>
    <%= f.button t('application.submit'), :class => 'event-link big' %>
  </div>
</div>
<% end %>
<br/>