<%= form_for(@rt_activity_publishing, default_form_options) do |f| %>
<div class="form form-electronic">
  <%= render(partial: 'shared/errors', locals: {model_name: @rt_activity_publishing})%>
  <fieldset>
    <div class="row">
      <div class="col-md-9">
        <div class="form-group all">
          <label class="labelUp"><%= Rt::ActivityPublishing.human_attribute_name(:name) %> <span class="asterisco">*</span></label>
          <%= f.text_field :name, { class: 'all' } %>
        </div>
        <div class="form-group all">
          <label class="labelUp"><%= Rt::ActivityPublishing.human_attribute_name(:project_id) %> </label>
          <%= f.select :project_id, entity_projects_select_options(current_user.loggable.id), {include_blank: "", selected: ""}, { class: 'all' } %>
        </div>
        <div class="form-group all">
          <label class="labelUp"><%= Rt::ActivityPublishing.human_attribute_name(:description) %> <span class="asterisco">*</span></label>
          <%= f.text_area :description, { class: 'all' } %>
        </div>
        <div class="form-group all">
          <label class="labelUp"><%= Rt::ActivityPublishing.human_attribute_name(:organizer) %> <span class="asterisco">*</span></label>
          <%= f.text_field :organizer, { class: 'all' } %>
        </div>
        <div class="form-group all">
          <label class="labelUp"><%= Rt::ActivityPublishing.human_attribute_name(:dates_text_free) %> <span class="asterisco">*</span></label>
          <%= f.text_area :dates_text_free, {class: "all"} %>
        </div>
        <div class="form-group all">
          <label class="labelUp"><%= Rt::ActivityPublishing.human_attribute_name(:hours_text_free) %> <span class="asterisco">*</span></label>
          <%= f.text_area :hours_text_free, { class: 'all' } %>
        </div>
        <div class="form-group all">
          <label class="labelUp"><%= Rt::ActivityPublishing.human_attribute_name(:places_text_free) %> <span class="asterisco">*</span></label>
          <%= f.text_area :places_text_free, { class: 'all' } %>
        </div>
      </div>
    </div>
  </fieldset>
  <%#= render partial: 'shared/addressInternetNT', locals: {f: f} %>
</div>
<div class="button-group text-right pb80">
  <%= link_to 'Cancelar', user_path(current_user.id), class: "event-link negative big"  %>
  <%= f.button t('application.submit'), :class => 'event-link big' %>
</div>
<% end %>