<%= form_for(@rt_activity_publishing, default_form_options) do |f| %>
<div class="form form-electronic">
  <%= render(partial: 'shared/errors', locals: {model_name: @rt_activity_publishing})%>


<!--
  <p class="notes">
   Los campos marcados con <em class="asterisco">*</em> son obligatorios.
  </p>
-->
  <fieldset>
       <div class="row">
       <div class="col-md-9">
            <div class="form-group all">

          <label class="labelUp"><%= Rt::ActivityPublishing.human_attribute_name(:name) %> <span class="asterisco">*</span></label>
          <%= f.text_field :name, { class: 'all' } %>





      </div>


      <div class="form-group all">
           <label class="labelUp"><%= Rt::ActivityPublishing.human_attribute_name(:project_id) %> <span class="asterisco">*</span></label>
          <%= f.select :project_id, entity_projects_select_options(current_user.id), {include_blank: "", selected: ""}, { class: 'all' } %>
      </div>

      <div class="form-group all">
          <label class="labelUp"><%= Rt::ActivityPublishing.human_attribute_name(:description) %> <span class="asterisco">*</span></label>
          <%= f.text_area :description, { class: 'all' } %>
      </div>
           <div class="form-group all">
                 <label class="labelUp"><%= Rt::ActivityPublishing.human_attribute_name(:organizer) %> <span class="asterisco">*</span></label>
          <%= f.text_field :organizer, { class: 'all' } %>

           </div>

           <div class="form-group">
               <label class="labelUp"><%= Rt::ActivityPublishing.human_attribute_name(:execution_date) %> <span class="asterisco">*</span></label>
          <%= f.text_field :execution_date, :class => "form-control-date small" %>
           </div>
            <div class="form-group">
                 <label class="labelUp"><%= Rt::ActivityPublishing.human_attribute_name(:execution_hour) %> <span class="asterisco">*</span></label>
          <%= f.text_field :execution_hour, { class: 'small' } %>
            </div>
       </div>

    </div>
  </fieldset>

  <hr>



    <%= render partial: 'shared/addressInternet', locals: {f: f} %>

    <hr>


</div>

<div class="button-group text-right pb80">
 <%= link_to 'Mi area', projects_path(q: {entity_id_eq: current_user.loggable_id}, entity_id: current_user.loggable_id), class: "event-link negative big" %></li>
  <%= f.button t('application.submit'), :class => 'event-link big' %>
</div>
<% end %>
