<div class="actividadWrapper">
  <div class="row">
    <div class="col-sm-2 col-xs-3  no-padding-left">
      <p class="fecha">
        <%= timetable.execution_date.day %>
        <span><%= Date::MONTHNAMES[timetable.execution_date.month] %> <%= timetable.execution_date.year %></span>
      </p>
    </div>
    <div class="col-sm-8 col-xs-7">

      <p class="distrito">
        <% activity = Activity.includes(:addresses).find(timetable.id) %>
        <% activity.addresses.distinct.each do |address| %>
           <%= address.district %>
        <% end %>
      </p>
      <h3 class="titular"><%= activity.name %></h3>
    </div>
    <i><%= link_to  " " , activity_path(timetable.id), class: "fa fa-chevron-right" %> </i>
  </div>
</div>
