<p id="notice"><%= notice %></p>

<p>
  <strong>Kind:</strong>
  <%= @project_type.kind %>
</p>

<p>
  <strong>Description:</strong>
  <%= @project_type.description %>
</p>

<p>
  <strong>Active:</strong>
  <%= @project_type.active %>
</p>

<%= link_to 'Edit', edit_project_type_path(@project_type) %> |
<%= link_to 'Back', project_types_path %>
