<% records.each_slice(3) do |group| %>
<ul class="row">
  <% group.each do |project| %>
  <li class="col-xs-12 col-sm-4 col-md-4" style="display:inline-block">
    <div class="gallery-item">
      <header>
        <%= render partial: "links/link", collection: project.links.logo %>
      </header>
      <div class="main">
        <h3><%= link_to project.name, project_path(project)  %></h3>
        <p><%= truncate(project.description, length: 145) %></p>
        <div class="row ctaGroupPreview">
          <div class="col-lg-12 text-right">
            <% if current_user && current_user.loggable_type=="Volunteer"  %>
              <%= link_to  "Dar de baja ", new_rt_volunteer_unsubscribe_path(project_id: project.id), class: "link" %>
            <% else %>
              <%= link_to  "Dar de baja ", new_rt_project_unpublishing_path(project_id: project.id), class: "link" %>
              <% if !Project.unscoped.find_by_id(project.id).volunteers_allowed == true  %>
                  <%= link_to  "Demandar voluntarios", new_rt_volunteers_demand_path(project_id: project.id), class: "event-link ml10" %>
              <% end %>
              <% if !Project.unscoped.find_by_id(project.id).publish == true  %>
                  <%= link_to  "Publicar proyecto", new_rt_project_publishing_path(project_id: project.id), class: "event-link ml10" %>
              <% end %>
            <% end %>
          </div>
          <br/>
        </div>
      </div>
    </li>
    <% end %>
  </ul>
  <% end %>