<%= form_for(@districts_project) do |f| %>
  <% if @districts_project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@districts_project.errors.count, "error") %> prohibited this districts_project from being saved:</h2>

      <ul>
      <% @districts_project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :district_id %><br>
    <%= f.text_field :district_id %>
  </div>
  <div class="field">
    <%= f.label :project_id %><br>
    <%= f.text_field :project_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
