<% if current_user %>
  <div class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      <%= current_user.loggable.name %>
      <span class="caret"></span>
    </button>
    <% if current_user.loggable_type=="Entity" %>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
       <li><%= link_to 'Mi area', user_path(current_user.id) %></li>
       <li><%= link_to(" Cerrar sesión", destroy_user_session_path, method: :delete, class:  "fa fa-power-off") %></li>
      </ul>
    <% end %>
    <% if current_user.loggable_type=="Volunteer" %>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <li><%= link_to 'Mi area', user_path(current_user.id) %></li>
        <li><%= link_to(" Cerrar sesión", destroy_user_session_path, method: :delete, class:  "fa fa-power-off") %></li>
      </ul>
    <% end %>
 </div>
<% end %>
