           <% if current_user %>
                <div class="dropdown">
                        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                           <%= current_user.profileable.name %>
                          <span class="caret"></span>
                        </button>
                        
                        <% if current_user.profileable_type=="Entity" %>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                              <li><%= link_to 'Modificar perfil', edit_user_password_path%> </li>
                              <li><%= link_to 'Modificar contraseña', edit_user_password_path %> </li>  
                              
                              
                              <li role="separator" class="divider"></li>
                              <li><%= link_to 'Mis proyectos', edit_user_password_path %></li>

                              <li><%= link_to 'Solicitar voluntarios', new_rt_volunteers_demand_path %></li>

                              <li><%= link_to 'Solicitar difusión proyecto', new_rt_project_publishing_path %></li>

                              <li><%= link_to 'Solicitar publicación actividad', edit_user_password_path %></li>

                              <li><%= link_to 'Otras solicitudes', edit_user_password_path %></li>

                              <li role="separator" class="divider"></li>
                              <li><a href="#">Mis actividades</a></li>

                              <li role="separator" class="divider"></li>
                              <li><%= link_to 'Solicitar baja de la plataforma', edit_user_password_path %></li>
                              
                              
                              <li role="separator" class="divider"></li>
                                <%= link_to(" Cerrar sesión", destroy_user_session_path, method: :delete, class:  "fa fa-power-off") %>
                            </ul>
                        <% end %>
                        
                        <% if current_user.profileable_type=="Volunteer" %>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                              <li><%= link_to 'Modificar contraseña', edit_user_password_path %> </li>  
                              
                              <li><%= link_to 'Mi perfil', new_rt_volunteer_amendment_path %> </li>  
                              
                              <li><%= link_to 'Mis proyectos', users_passwords_updateC_path %> </li>  
                              
                              <li><%= link_to 'Solicitud baja de la plataforma', new_rt_volunteer_unsubscribe_path %> </li>  
                              
                              <li><%= link_to 'Solicitud de cita', new_rt_volunteer_appointment_path %> </li>  
                              
                              
                                <%= link_to(" Cerrar sesión", destroy_user_session_path, method: :delete, class:  "fa fa-power-off") %>
                            </ul>
                        <% end %>

                </div>   
          <% end %>      
        