<div id="legalWrapper">
  <div class="autorizar">
    <p>Autorizo la divulgación de mi imagen captada en actos públicos de voluntariado a través de medios de comunicación
      o medios de difusión municipales. (Ver aviso legal) <span class="asterisco">*</span></p>
      <label class="radioCustom"><%= f.radio_button :publish_pictures, true %><span class="outer"><span class="inner"></span></span> <%=  t("application.checky") %></label>
      <label class="radioCustom"><%= f.radio_button :publish_pictures, false %><span class="outer"><span class="inner"></span></span>No</label>
      <p>Desde el Programa Municipal de Voluntariado del Ayuntamiento de Madrid &#8220;Voluntarios por Madrid&#8221;, te ofrecemos
        toda la informaci&#243;n sobre voluntariado de la ciudad de Madrid, as&#237; como sobre los proyectos de voluntariado
        en los que puede colaborar. Datos de contacto: 900 777 888 (tel&#233;fono gratuito) Horario de atenci&#243;n:
        lunes a jueves de 9:00 a 19:00 h. y viernes de 9:00 a 18:00 h. Correo electr&#243;nico: voluntariospormadrid@madrid.es
      </p>
      <p>Te informamos que anualmente la Direcci&#243;n General de Calidad y Atenci&#243;n al Ciudadano del Ayuntamiento de
        Madrid realiza una encuesta de satisfacci&#243;n entre las diferentes personas usuarias de la Web municipal madrid.es
        con el objeto de mejorar la calidad de los servicios municipales que se prestan a trav&#233;s de este medio electr&#243;nico.
        Para ello, se realiza una selecci&#243;n aleatoria entre todos los correos electr&#243;nicos que aportan las personas
        usuarias. En el caso que no quieras que el dato de tu correo electr&#243;nico sea utilizado en la selecci&#243;n
        de la muestra de la encuesta, ind&#237;calo marcando la casilla que figura a estos efectos en el formulario.
      </p>
      <div class="checkCustom">
        <%= f.check_box :annual_survey, label: false  %>
        <% if controller_name == 'entities' %>
        <label for="entity_annual_survey"></label>
        <% else %>
        <label for="rt_volunteer_subscribe_annual_survey"></label>
        <% end %>
      </div>
      <span class="labelCheck textCheckbox">No quiero que el dato de mi correo electrónico sea utilizado con esta finalidad</span>
    </div>
    <% if controller_name == 'entities' %>
    <%= f.fields_for(:user_attributes) do |f_u| %>
    <div class="checkCustom">
      <%= f_u.check_box :terms_of_service, label: false %>
      <label for="entity_user_attributes_terms_of_service"></label>
    </div>
    <span class="labelCheck textCheckbox">
      <%= t("devise_views.users.registrations.new.terms",
      terms: link_to(t("devise_views.users.registrations.new.terms_link"), "/conditions", target: "_blank")).html_safe %>
    </span>
    <% end %>
    <% end %>
    <hr>
    <div class="aviso">
      <h3>* Aviso legal</h3>
      <p>Los datos personales recogidos serán incorporados y tratados por el Ayuntamiento de Madrid de acuerdo con la descripción del fichero que figura al final de esta información. Con carácter general los datos recogidos no podrán ser cedidos a terceros salvo en los supuesto previstos en el artículo 11 de la Ley Orgánica 15/1999, de 13 de diciembre, de Protección de Datos de carácter Personal. </p>

      <p>   El interesado podrá ejercer los derechos de acceso, rectificación, cancelación y oposición, ante el órgano responsable que aparece al final de la información, todo lo cual se informa en el cumplimiento del artículo 5 de la Ley Orgánica 15/1999, de 13 de diciembre, de Protección de Datos de Carácter Personal. </p>

      <p>   Se informa que la imagen captada en actos públicos de voluntariado se podrá divulgar a través de medios de comunicación o medios de difusión municipales a menos que marque la no autorización en la siguiente correspondiente </p>

      <p>      - Nombre del fichero/tratamiento: Gestión de Voluntarios </p>
      <p>      - Finalidad del fichero/tratamiento: Organización y gestión de los datos de las personas pertenecientes al cuerpo de voluntarios por Madrid </p>
      <p>      - Órgano responsable (incluyendo la dirección postal): Dirección General de Participación Ciudadana. c/ Alcalá 45, 28014 Madrid </p>


    </div>
  </div>