
<%= javascript_tag do %>
  var locations = <%= raw @locations.to_json %>;
  var multiple = true;
  var url_map = "<%= Rails.application.secrets.url_map %>";
  var url_rotulacion = "<%= Rails.application.secrets.url_rotulacion %>";
  var list_days = <%= raw @list_days.to_json %>;
<% end %>



 <div class="section-cont">
      <h2 class="section-name">
        <span class="section-name-title">
          Comunidad Virtual del Voluntariado y la solidaridad en la Ciudad de Madrid
        </span>
      </h2>
    </div>



<div class="container-fluid" style="display: none">
    <div class="row">

   <div class="col-xs-6 col-sm-6 col-md-6">
     <span class="labelUp">Ordenar </span>
      
      <select>
          <option>Fecha</option>
          <option>Mas demandados</option>
          <option>Etc.</option>
      </select>
    
   </div>    

  <div class="col-md-1 pull-right">
      <%= link_to  "" , "#", class: "fa fa-list fa-2x", id: "btnRow" %>
      <%= link_to  "" , "#", class: "fa fa-table fa-2x", id: "btnGrid" %>
  </div>
</div>


</div>

<section class="container-fluid">
    <div class="row">
          <div class="col-md-12">
        <h2 class="titlePage"> Proyectos destacados</h2>
  <ul class="row destacadosWrapperHome">
      
      <%= render partial: 'projects/project', collection: @projects_featured  %>
  </ul>
    </div>


    </div>

<!--
<% if @day %>
	<div id="fecha">

	</div>
	<br/>
	<br/>
	<%= text_area_tag :first_day, @day.html_safe, { style: "display: none;"} %>
	<div id="day">
	  <h1> Agenda del dia <%= @day %> </h1> 
	</div>

	<div id="activities">
	  <%= render partial: 'activities/activity', collection: @activities %>      
	</div>

<% end %>

-->

<div class="row">
  <div class="col-md-12">
     <div id="mapDiv">
       
     </div>
  </div>
</div>

<% content_for :head do %>	
  <div class="urgenteWrapper">

  <% @project_outstanding.each do |project| %>
      <h2><%=  project.name %></h2>
        <p> <%= project.description %></p>
          <a href=""><i class="fa fa-chevron-right" aria-hidden="true"></i></a>
  <% end %>

  </div>   
<% end %>




</section>


