<p id="notice"><%= notice %></p>

<h1>Listing Entity Types</h1>

<table>
  <thead>
    <tr>
      <th>Kind</th>
      <th>Description</th>
      <th>Active</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @entity_types.each do |entity_type| %>
      <tr>
        <td><%= entity_type.kind %></td>
        <td><%= entity_type.description %></td>
        <td><%= entity_type.active %></td>
        <td><%= link_to 'Show', entity_type %></td>
        <td><%= link_to 'Edit', edit_entity_type_path(entity_type) %></td>
        <td><%= link_to 'Destroy', entity_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Entity type', new_entity_type_path %>
