            <h4 class="numActividades"><span><%= events.uniq.count %></span> <%= Activity.model_name.human(count: events.uniq.count) %></h4>
              <% events.map(&:timetables).flatten.group_by{ |timetable| timetable.execution_date }
                   .sort_by{|execution_date, _| execution_date }.each do |execution_date, timetables| %>
                  <% timetables.map(&:event).group_by(&:activity).each do |activity, events| %>
                    <% if execution_date == Date.parse(@day) || !@day.present? %>
                     <div class="actividadWrapper">
                      <div class="row">
                        <div class="col-sm-2 col-xs-3 no-padding-left">
                          <p class="fecha">
                             <%= execution_date.day %>
                             <span><%= Date::MONTHNAMES[execution_date.month] %> <%= execution_date.year %></span>
                          </p>
                        </div>
                        <div class="col-sm-8 col-xs-7">
                          <p class="distrito"><%= events.map{ |event| event.address.district }.flatten.to_sentence(:last_word_connector => ' y ') %></p>
                          <h3 class="titular"><%= activity.name %></h3>
                        </div>

                               <i><%= link_to  " " , activity_path(activity), class: "fa fa-chevron-right" %> </i>


                      </div>
                      </div>
                  <% end %>
              <% end %>
            <% end %>

