<%= form_for(@rt_volunteer_subscribe) do |f| %>
  <%= f.invisible_captcha :subtitle %>
  <div class="form form-electronic">
    <%= render(partial: 'shared/errors', locals: {model_name: @rt_volunteer_subscribe})%>
      <% if !current_user ||  !current_user.loggable_type=="Entity"  %>
          <h4> Si ya estas registrado <%= link_to 'Inicia sesión', new_user_session_path %> sino, rellena el siguiente formulario:</h4>

      <% end %>
      <br>
      <fieldset>
        <%= f.hidden_field :project_id, { class: 'medium' } %>
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12">
            <div class="form-group">
              <label class="labelUp"><%= Rt::VolunteerSubscribe.human_attribute_name(:name) %> <span class="asterisco">*</span></label>
              <%= f.text_field :name, { class: 'medium' } %>
            </div>


            <div class="form-group">
              <label class="labelUp"><%= Rt::VolunteerSubscribe.human_attribute_name(:last_name) %> <span class="asterisco">*</span></label>
              <%= f.text_field :last_name, { class: 'medium' } %>
            </div>

            <div class="form-group">
              <label class="labelUp"><%= Rt::VolunteerSubscribe.human_attribute_name(:last_name_alt) %> </label>
              <%= f.text_field :last_name_alt, { class: 'medium' } %>
            </div>
          </div>
        </div>
      </fieldset>
      <fieldset>
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12">
            <div class="form-group">
              <label class="labelUp"><%= Rt::VolunteerSubscribe.human_attribute_name(:phone_number) %> <span class="asterisco">*</span></label>
              <%= f.text_field :phone_number, { class: 'medium' } %>
            </div>

            <div class="form-group">
              <label class="labelUp"><%= Rt::VolunteerSubscribe.human_attribute_name(:phone_number_alt) %> </label>
              <%= f.text_field :phone_number_alt, { class: 'medium' } %>
            </div>

            <div class="form-group">
              <label class="labelUp"><%= Rt::VolunteerSubscribe.human_attribute_name(:email) %> <span class="asterisco">*</span></label>
              <%= f.text_field :email, { class: 'medium' } %>
            </div>
          </div>
        </div>

        <hr>
      </fieldset>
      <%= render partial: 'shared/protection', locals: {f: f} %>
        <hr>
        <div class="button-group text-right pb90">
          <%= f.button t('application.submit'), :class => 'event-link big', :value => 'Registrarme' %>
        </div>
  </div>
  <% end %>