<% records.each_slice(3) do |group| %>
<ul class="row">
  <% group.each do |project| %>
  <li class="col-xs-12 col-sm-4 col-md-4" style="display:inline-block">
    <div class="gallery-item">
      <header>
        <%= render partial: "links/link", collection: project.links.logo %>
      </header>
      <div class="main">
        <h3><%= link_to project.name, project_path(project)  %></h3>
        <p><%= truncate(project.description, length: 145) %></p>
        <p><%= project.entity.name %></p>
        <div class="row ctaGroupPreview">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="tags">
              <%= render partial: "shared/area", collection: project.areas %>
            </div>
          </div>
          <div class="col-lg-12 text-right">
            <%= link_to  "Leer mas .." , project_path(project), class: "event-link" %>
          </div>
          <br/>
        </div>
      </div>
    </li>
    <% end %>
  </ul>
  <% end %>