
<li class="col-xs-12 col-sm-4 col-md-4" style="display:inline-block">
  <div class="gallery-item">
     <header>
        <%= render partial: "links/link", collection: project.links.logo %>
     </header>

    <div class="main">
        <h3><%=  project.name %></h3>
        <p><%= truncate(project.description, length: 145) %></p>

         <div class="row ctaGroupPreview">
             <% project.areas.each do |area| %>
                <div class="col-lg-4 col-md-12  col-sm-12 col-xs-4">

                <p style="margin:0"><span class="category"><%= area.name %></span></p>

                </div>
             <% end %>
             <div class="col-lg-8 col-md-12 col-sm-12 col-xs-8 text-right"> <%= link_to  "¿Te interesa?" , project_path(project), class: "event-link " %> </div>
          </div>



      <br/>

    </div>


  </div>
</li>

