<% records.each_slice(3) do |group| %>
<ul class="row">
  <% group.each do |project| %>
  <li class="col-xs-12 col-sm-4 col-md-4" style="display:inline-block">
    <div class="gallery-item">
      <header>
        <%= render partial: "links/link", collection: project.links.logo %>
      </header>
      <div class="main">
        <h3><%= project.name %></h3>
        <p><%= truncate(project.description, length: 145) %></p>
        <div class="row ctaGroupPreview">
          <% project.areas.each do |area| %>
          <div class="col-lg-4 col-md-12  col-sm-12 col-xs-4">
            <p style="margin:0"><span class="category"><%= area.name.downcase %></span></p>
          </div>
          <% end %>
          <br>
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 text-right">
                <%= link_to  "Leer mas .." , project_path(project), class: "event-link" %>
          </div>
          <% if current_user && current_user.loggable_type=="Entity" && project.entity.id == current_user.loggable_id && controller_name == "users" %>
              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 text-right">
                <%= link_to  "Dar de baja" , new_rt_project_unpublishing_path(project: project.id), class: "event-link" %>
              </div>
          <% end %>
        </div>
        <br/>
      </div>
    </div>
  </li>
  <% end %>
</ul>
<% end %>