<!--
<li class="col-xs-12 col-sm-4 col-md-4">
  <div class="gallery-item">
      <%= render partial: "links/link", collection: project.links.logo %>
      <%= social_share_button_tag(project.name) %>
      <span class="gallery-text">
         <h3><%=  project.name %></h3>
         <%= truncate project.description %>
      </span>
      <%= link_to  "Leer mas .." , project_path(project), class: "event-link " %> 
      <%= render 'shared/participation', collection: project %>
      <%= render partial: 'events/event', collection: project.events %>   
      <br/>
      <i class="fa fa-user-o fa-2x" aria-hidden="true"></i> <%=  project.volunteers_num %>
  </div>
</li>
    
-->

<li class="col-xs-12 col-sm-4 col-md-4" style="display:inline-block">
  <div class="gallery-item">
     <header>
        <%= render partial: "links/link", collection: project.links.logo %>
     </header>

    <div class="main">
        <h3><%=  project.name %></h3>
        <p><%= truncate(project.description, length: 200) %></p>

         <div class="row">
             <div class="col-xs-6">  <%= render partial: 'events/event', collection: project.events %>   </div>
             <div class="col-xs-6"> <%= link_to  "Leer mas .." , project_path(project), class: "event-link " %> </div>
         </div>



      <br/>

    </div>


  </div>
</li>


