<div class="row">
  <div class="global-results">
    <ul class="events-results">
        
        <li class="withimage">
            <div class="event-image">
                <%= render partial: "links/link", collection: project.links.logo %>
            
            </div>
            <div class="event-info">
                <span class="event-type"><h3><%= project.name %>
                <%= social_share_button_tag(project.name) %> </h3></span>
                
                <span class="event-intro"><%= project.description %></span>
                <%= link_to  "Leer mas .." , project_path(project), class: "event-link " %> 
                
                <div class="event-date"><span>Del viernes 20 de febrero de 2015</span> <span>al domingo 22 de febrero de 2015</span></div>
                <span class="event-location" data-latitude="" data-longitude="" data-name="" data-direction="">Pabellón de Cristal de la Casa de Campo</span>
                
            </div>
        </li>
        
        
    </ul>
</div>
</div>