<div class="row">
  <div class="col-md-12">
     <div id="mapDiv">
       
     </div>
  </div>
</div>
<br/>
<div class="gallery nofluid">
  <ul class="row">
    <% @projects_featured.each do |project| %>
        <li class="col-xs-12 col-sm-4 col-md-4">
          <div class="gallery-item">
            
             <%= social_share_button_tag(project.name) %>
            
            <span class="gallery-text">

                <h3><%= project.name %></h3>
                <%= project.description %>
            </span>
            <%= link_to  "Leer mas .." , edit_project_path(project), class: "event-link " %> 
                <% @project= project %>
                <%= render 'shared/participation', collection: @project %>
                
                <div class="event-date"><span>Del viernes 20 de febrero de 2015</span> <span>al domingo 22 de febrero de 2015</span></div>
                <span class="event-location" data-latitude="" data-longitude="" data-name="" data-direction="">Pabellón de Cristal de la Casa de Campo</span>
             
                <i class="fa fa-user-o fa-2x" aria-hidden="true"></i> 0 
         </div>
        </li>

    <% end %> 
  </ul>
</div>  



<div class="row">

   <div class="col-xs-6 col-sm-6 col-md-6">
     <span class="labelUp">Ordenar </span>
      
      <select>
          <option>Fecha</option>
          <option>Mas demandados</option>
          <option>Etc.</option>
      </select>
    
   </div>    

  <div class="col-md-1 pull-right">
      <%= link_to  "" , "#", class: "fa fa-list fa-2x", id: "btnRow" %>
      <%= link_to  "" , "#", class: "fa fa-table fa-2x", id: "btnGrid" %>
  </div>
</div>

<%= render "buscador" %>

<div id = "projects">
  <%= render 'projects' %>
</div>
