<%= javascript_include_tag 'projects' %>

<%= javascript_tag do %>
  var locations = <%= raw @locations.to_json %>;
  var multiple = true;
  var url_map = "<%= Rails.application.secrets.url_map %>";
  var url_rotulacion = "<%= Rails.application.secrets.url_rotulacion %>";
  var day_c =""
<% end %>


<div class="container-fluid">
    <div class="row">
  <div class="col-md-12">
     <div id="mapDiv">
       
     </div>
  </div>
</div>
</div>

<div class="container-fluid" style="	background-color: rgba(0, 0, 0, 0.05);
">
    <%= render "buscador" %>
</div>

<div class="container-fluid">
   <div class="row pt60">
       <div class="col-md-6">
       <h2 class="titlePage"><%= Project.actives.count %> proyectos</h2>
       </div>
       <div class="col-xs-6 col-sm-6 col-md-6 text-right">
<!--         <span class="labelUp">Ordenar </span>-->
         <select class="selectOrdenar">
           <option>Fecha</option>
           <option>Mas demandados</option>
           <option>Etc.</option>
         </select>
       </div>
   </div>


<!-- en modo cuadricula -->
<div id="grid">
<ul class="row">
<div id = "projects">
  
<!-- <div class="gallery nofluid"> -->
 <% @projects_actives.each_slice(3) do |group| %>
 

    
      <%= render partial: 'project', collection: group %>
   
  
  <% end %> 
</div>
</ul>
 </div>
 </div>


<!-- en modo fila -->
<div id="row" style="display:none">
<div class="tiny-text">
  <%= render partial: 'row_project', collection: @projects_actives, as: :project %>

</div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <% if @projects_actives.current_page != @projects_actives.total_pages %>
 <p id="view-more">
 

   <%= link_to('Cargar más proyectos', url_for(page: @projects_actives.current_page + 1), {:remote => true}) %>
 </p>
 <% end%>
        </div>
    </div>
</div>
