<%= javascript_tag do %>
var locations = <%= raw @locations.to_json %>;
var url_map = "<%= Rails.application.secrets.url_map %>";
var url_rotulacion = "<%= Rails.application.secrets.url_rotulacion %>";
var lock = true;
var day_c =""
var url = "/projects/boroughs"
<% end %>
<%= javascript_include_tag 'map' %>
<div class="container-fluid">
  <div class="row pt60">
    <div id="numProjects" class="col-md-6">
      <%= render partial: 'numProjects', locals: {total: @projects_actives.total_count}  %>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6 text-right">
      <select id="selectOrdenar" class="selectOrdenar">
        <option value="">Ordenar por</option>
        <option value= "created_at asc">Primero los mas nuevos</option>
        <option value="created_at desc">Primero los mas antiguos</option>
      </select>
    </div>
  </div>
  <!-- en modo cuadricula -->
  <div id="grid">
    <div id = "projects">
      <%= render partial: 'project', locals: { records: @projects_actives} %>
    </div>
    <div id="scroll_projects">
      <%= render partial: 'shared/scroll_infinite', locals: { records: @projects_actives} %>
    </div>
  </div>
  <div class="container-fluid no-padding-left no-padding-right">
    <div class="row">
      <div class="col-md-12">
        <div id="mapDiv">
        </div>
      </div>
    </div>
  </div>
  <%= render "buscador" %>
  <div class="row">
    <div class="col-sm-12">
      <div class="tags">
        <%=link_to 'Ver todos', projects_path, class: "tag fa fa-building" %>
      </div>
    </div>
  </div>
</div>