<div class="row">
<div class="bg-fluid0">
  <div class="bg-triangle">
    <div class="tributes nofluid">
      <ul>
        
        <li>
          <h3 class="tributes-header"><span class="tributes-title">Proyectos</span></h3>
          <div class="tributes-body tributes-table">
            <form class="tributes-form">
              <table class="table">
                <thead>
                  <tr class="table-row-transform">
                    <th>Fecha inicio</th>
                    <th>Fecha fin</th>
                    <th>Nº voluntarios</th>
                    <th>Nombre proyecto</th>
                    
                  </tr>
                </thead>

                <tbody>
                  <% @projects.each do |tb_proyecto| %>
                    <tr class="table-row-transform">
                      <td class="table-cell-group"><%= tb_proyecto.execution_start_date %></td>
                      <td class="table-cell-group"><%= tb_proyecto.execution_end_date %></td>
                      <td class="table-cell-group"><%= tb_proyecto.volunteers_num %></td>
                      <td class="table-cell-group"><%= tb_proyecto.name %></td>
                      <td class="table-cell-group"><%= link_to  "Ver" , project_path(tb_proyecto) %></td> 
                      <td class="table-cell-group"><%= link_to "Baja", {controller:"rt_project_unsubscribes", action:"new", project_id: tb_proyecto.id} %> </td>  


                      </tr>
                  <% end %>
                </tbody>
                
              </table>
              
              
            </form>
          </div>
        </li>
      </ul>
     
    </div>
  </div>
</div>
</div>



<%= paginate @projects, locals: {modelo: @projects} %>

<%= page_entries_info @projects %>

<div class="row">

<div class="button-group text-right">
        <%= link_to 'Difundir proyecto', new_rt_project_publishing_path, class: "button button4" %>
        <%= link_to 'Demandar voluntarios', new_rt_volunteers_demand_path, class: "button button4" %>
 </div> 

</div>