


<%= javascript_tag do %>
  var locations = <%= raw @locations.to_json %>;
  var multiple = true;
  var url_map = "<%= Rails.application.secrets.url_map %>";
  var url_rotulacion = "<%= Rails.application.secrets.url_rotulacion %>";
<% end %>



<div class="row">
  <div class="col-md-12">
     <div id="mapDiv">
       
     </div>
  </div>
</div>

<br/>
<div class="row">

   <div class="col-xs-6 col-sm-6 col-md-6">
     <span class="labelUp">Ordenar </span>
      
      <select>
          <option>Fecha</option>
          <option>Mas demandados</option>
          <option>Etc.</option>
      </select>
    
   </div>    

  <div class="col-md-1 pull-right">
      <%= link_to  "" , "#", class: "fa fa-list fa-2x", id: "btnRow" %>
      <%= link_to  "" , "#", class: "fa fa-table fa-2x", id: "btnGrid" %>
  </div>
</div>
<%= render "buscador" %>

<h1> PROYECTOS DESTACADOS </h1>
<div class="gallery nofluid">
  <ul class="row">
      
      <%= render partial: 'project', collection: @projects_featured  %>
  </ul>
</div>  









<h1> MAS PROYECTOS </h1>
<!-- en modo cuadricula -->
<div id="grid">
<div id = "projects">
<!-- <div class="gallery nofluid"> -->
 <% @projects_actives.each_slice(3) do |group| %>
  <ul class="row">

    
      <%= render partial: 'project', collection: group %>
   
  </ul>

  <% end %> 
 </div>
 </div>
 </div>


<!-- en modo fila -->
<div id="row" style="display:none">
<div class="tiny-text">
  <%= render partial: 'row_project', collection: @projects_actives, as: :project %>

</div>
</div>