<%= javascript_tag do %>
  var locations = <%= raw @locations_project.to_json %>;
  var multiple = false;
  var url_map = "<%= Rails.application.secrets.url_map %>";
  var url_rotulacion = "<%= Rails.application.secrets.url_rotulacion %>";
<% end %>

<div  class="container-fluid single">
    <div class="row">

<div class="col-md-8">

<h3 class="summary-title"><%= @project.name %></h3>


<div role="tabpanel" class="tab-pane active" id="tpi-tab2">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
      <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
    <% @project.links.logo.each do |link| %>
      <div class="item active">
        <%= render partial: "links/link", locals: { link: link} %>
      </div>
    <% end %>
    <% @project.links.image.each do |link| %>
      <div class="item">
            <%= render partial: "links/link", locals: { link: link} %>
      </div>
     <% end %>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>


<div class="detalle">
  <div class="nofluid">
    <div class="tramites-content">
     <div class="tiny-text">
          <p> <%= @project.description %> </p>
      </div>
    </div>
    
    <div class="item noTitle">
        <h3 class="">Enlaces</h3>
        <dl class="dl-horz">
          <% @project.links.url.each do |link| %>
              <dd><a href="<%= link.url %>"><%= link.description %></a></dd>
          <% end %>    
        </dl>
    </div>

  </div>
</div>

<div class="bg-fluid5 nofluid">
  <div class="videoplayer row">
    <div class="col-sm-4 cabecera">
      <h4 class="title">Galería de videos</h4>
    </div>
    <% @project.links.video.each do |link| %>
    <div class="col-sm-12">
      <div class="currentvideo" data-height="308" data-width="450" data-url="" data-expressInstallSwfurl="" data-file="" data-logo="" data-image="" data-urlhtml5= "<%= link.url %>" >
      </div>
    </div>
    <% end %>
  </div>
</div>



<div class="button-group">
    
       
    <%= link_to 'volver', index_i_projects_path,class: "button button4" %>

    <%= link_to 'Me interesa participar como voluntario', new_rt_volunteer_subscribe_path,class: "button button4" %>
 </div>
</div>

<div class="col-md-4">
<div class="gallery-item">
  <div class="info-actividad">
      <div class="item ">
        <h3 class="place title9">Direcciónes</h3>
        <%= render partial: 'events/event', collection: @project.events %>
        
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
         <div id="mapDiv">
           
         </div>
      </div>
    </div>
 </div>   
</div>
</div>
</div>