<%= javascript_tag do %>
var locations = <%= raw @locations.to_json %>;
var multiple = false;
var url_map = "<%= Rails.application.secrets.url_map %>";
var url_rotulacion = "<%= Rails.application.secrets.url_rotulacion %>";
var lock = true;
<% end %>
<%= javascript_include_tag 'map' %>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 mt45" >
      <i class="fa fa-chevron-left volverArrow" aria-hidden="true"></i>
      <%= link_to t('application.projects'), projects_path,class: "volver" %>
    </div>
  </div>
</div>
<div  class="container-fluid single">
  <div class="row">
    <div class="col-md-4 col-md-push-8">
      <div class="sidebarProyecto">
        <div class="bloque first">
          <% if @project.volunteers_allowed %>
            <% if current_user && current_user.loggable_type=="Volunteer"  %>
              <% if @project.volunteers.where("projects_volunteers.volunteer_id = ? and projects_volunteers.project_id = ?", current_user.loggable_id, @project.id ).exists? %>
                <div class="ctaVoluntarios">
                  <h3><%= t('project.subscribed') %></h3>
                </div>
              <% elsif Rt::VolunteerSubscribe.includes(:request_form).where("project_id= ? and request_forms.user_id=?", @project.id, current_user.id ).references(:request_form).exists?  %>
                <div class="ctaVoluntarios">
                  <h3><%= t('project.requested') %></h3>

                </div>
              <% else  %>
                <div class="ctaVoluntarios">
                  <h3><%= t('project.need_volunteers') %></h3>
                  <%= link_to t('project.interesting') , new_rt_volunteer_subscribe_path(project_id: @project.id), class: "event-link big" %>
                </div>
              <% end %>
            <% else %>
              <div class="ctaVoluntarios">
                <h3><%= t('project.need_volunteers') %></h3>
                <%= link_to t('project.interesting'), new_rt_volunteer_subscribe_path(project_id: @project.id), class: "event-link big" %>
              </div>
            <% end %>
          <% end %>
          <hr>
          <div id="mapaW">
            <div id="mapDiv">
            </div>
          </div>
          <div id="timetables">
            <% @project.addresses do |address| %>
            <%= address.district %>
            <% end %>
          </div>
        </div>
        <div class="bloque">
          <div id="meta">
            <div class="brand">
              <div class="logoW">
                <%= render partial: "links/link", collection: @project.entity.links.logo %>
              </div>
              <h5><%= @project.entity.name %></h5>
            </div>
          </div>
        </div>
        <% if @project.activities.present? %>
        <div class="bloque">
          <div id="actividadesAsociadas">
            <h5> <%= t('project.activities') %> </h5>
            <% @project.activities.each do |activity| %>
            <%= link_to activity_path(activity) do %>
            <div class="cardActividadAsociada">
              <div class="flex">
                <h3>
                <%= activity.name %>
                </h3>
              </div>
            </div>
            <% end %>
            <% end %>
          </div>
        </div>
        <% end %>
      </div>
    </div>
    <div class="col-md-8 col-md-pull-4">
      <h3 class="summary-title"><%= @project.name %></h3>
      <h4 class="numVolum"><%= @project.volunteers.count %> voluntarios</h4>
      <div class="tags">
        <%= render partial: "shared/area", collection: @project.areas %>
      </div>
      <div role="tabpanel" class="tab-pane active carousel" id="tpi-tab2">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
          <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <% @project.links.image.each_with_index do |index| %>
            <li data-target="#myCarousel" data-slide-to= index></li>
            <% end %>
          </ol>
          <!-- Wrapper for slides -->
          <div class="carousel-inner" role="listbox">
            <div class="item active">
              <%= render partial: "links/link", collection: @project.links.logo %>
            </div>
              <%= render partial: "links/link", collection: @project.links.image %>
          </div>
          <!-- Left and right controls -->
          <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <i class="fa fa-chevron-left" aria-hidden="true"></i>
            <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <i class="fa fa-chevron-right" aria-hidden="true"></i>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
      <div class="detalle">
        <div class="nofluid">
          <div class="tramites-content">
            <div class="tiny-text">
              <p> <%= @project.description %> </p>
            </div>
          </div>
          <% if @project.links.present? %>
          <div class="item noTitle">
            <h3 class=""><%= t('project.links') %></h3>
            <dl class="dl-horz">
              <%= render partial: "links/link", collection: @project.links.url %>
            </dl>
          </div>
          <% end %>
        </div>
      </div>
      <div class="bg-fluid5 nofluid">
        <%= render partial: "links/link", collection: @project.links.video %>
      </div>
      <div class="row">

        <div class="col-md-12">
          <nav class="redesWrapProject">
            <h4><%= t('application.share') %></h4>
            <ul class="redes">
              <li>
              <%= link_to "https://www.facebook.com/sharer/sharer.php?u=#{project_url(@project)}",  title: 'Comparteme!' do %>
                <i class="fa fa-facebook" data-content="Comparteme!"></i>
              <% end %>
              </li>

              <li>
              <%#= link_to "http://twitter.com/home?status=#{project_url(@project)}",  title: 'Comparteme!' do %>
              <%= link_to "https://twitter.com/intent/tweet?url=#{project_url(@project)}&text=#{@project.name}",  title: 'Comparteme!' do %>
                <i class="fa fa-twitter" data-content="Comparteme!"></i>
              <% end %>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>