<div class="nav-pagination top">
 <div class="row">
    <div class="col-sm-6">
      <ul class="list-inline results">
               
        
      </ul>
    </div>

    <div class="col-sm-6">
    <ul class="pagination">
    <%= paginator.render do -%>
            <%= prev_page_tag unless current_page.first? %>
            <% each_page do |page| -%>
              <% if page.left_outer? || page.right_outer? || page.inside_window? -%>
                <%= page_tag page %>

              <% elsif !page.was_truncated? -%>
                <%= gap_tag %>
              <% end -%>
            <% end -%>
            <%= next_page_tag unless current_page.last? %>
            
    <% end -%>
    </ul>
   </div>
 </div>
</div>



