<%%= form_for(@<%= singular_table_name %>, default_form_options) do |f| %>
<div class="form form-electronic">
  <legend class="parrafo"><%%= main_title(t("<%= singular_table_name %>.title", model: <%= singular_table_name.camelize %>.model_name.human)) %></legend>
  
  <p class="notes">
   Los campos marcados con <em class="asterisco">*</em> son obligatorios.
  </p>
  
  <%- attributes.each do |attr| -%>
    <div class="row">
      <div class="form-group">
        <div class="col-xs-12 col-sm-12 col-md-12">
          <span class="labelUp"><%%= t('activerecord.attributes.<%= singular_table_name.camelize %>.<%= attr.name %>') %> <span class="asterisco">*</span></span>
      <%- if attr.reference? -%>
          <%%= f.association :<%= attr.name %> %>
      <%- elsif /_date|date_/ =~ attr.name -%>
          <%%= f.text_field :<%= attr.name %>, :class => "form-control-date" %>
      <%- else -%>
          <%%= f.text_field :<%= attr.name %> %>
      <%- end -%>
        </div>
      </div>
    </div>

  <%- end -%>

</div>

<div class="button-group text-right">
  <%%= f.button t('application.submit'), :class => 'button button4' %>
</div>
<%% end %>
