<tr id="<%%= dom_id(<%= singular_table_name %>) %>" >

  <%% project.main_attributes.each do |attr_name| %>
  <td><%%= show_attr(<%= singular_table_name %>.public_send attr_name) %></td>
  <%% end %>

  <td class="index_table-actions">
    <%%= link_to_show(<%= singular_table_name %>) %>
    <%%= link_to_edit(<%= singular_table_name %>) %>
<%% if <%= singular_table_name %>.try(:archived?) %>
    <%%= link_to_recover(<%= singular_table_name %>) %>
<%% else %>
    <%%= link_to_destroy(<%= singular_table_name %>) %>
<%% end %>
  </td>
</tr>
