<%= form_for(@rt_entity_subscribe, default_form_options) do |f| %>
<div class="form form-electronic">
  <%= render(partial: 'shared/errors', locals: {model_name: @rt_entity_subscribe})%>
  <legend class="parrafo"><%= main_title(t('rt_entity_subscribe.title')) %></legend>
  <p class="notes">
   Los campos marcados con <em class="asterisco">*</em> son obligatorios.
  </p>
  
   <legend class="parrafo">1. Datos de la entidad</legend> 
    <div class="row">
      <div class="form-group">
        <div class="col-xs-12 col-sm-12 col-md-6">
          <span class="labelUp"><%= t('activerecord.attributes.rt_entity_subscribe.name') %><span class="asterisco">*</span></span>
          <%= f.text_field :name %>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-3">
          <span class="labelUp"><%= t('activerecord.attributes.rt_entity_subscribe.entity_type') %><span class="asterisco">*</span></span>
          <%= f.select :entity_type_id, entity_types_select_options %>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-3">
          <span class="labelUp"><%= t('activerecord.attributes.rt_entity_subscribe.vat_num') %> <span class="asterisco">*</span></span>
          <%= f.text_field :vat_num %>
        </div>
      </div>
    </div>
    <br/>
    <legend class="parrafo">2. Datos del contacto</legend>
    <div class="row">
     <div class="form-group">
      <div class="col-xs-12 col-sm-12 col-md-4">
          <span class="labelUp"><%= t('activerecord.attributes.rt_entity_subscribe.contact_name') %> <span class="asterisco">*</span></span>
          <%= f.text_field :contact_name %>
        
      </div>

      <div class="col-xs-12 col-sm-12 col-md-4">
          <span class="labelUp"><%= t('activerecord.attributes.rt_entity_subscribe.contact_first_surname') %><span class="asterisco">*</span></span>
          <%= f.text_field :contact_first_surname %>
        
      </div>

      <div class="col-xs-12 col-sm-12 col-md-4">
          <span class="labelUp"><%= t('activerecord.attributes.rt_entity_subscribe.contact_second_surname') %> </span>
          <%= f.text_field :contact_second_surname %>
        
      </div>
     </div>   
    </div>

    <div class="row">
      <div class="form-group">
        
        <div class="col-xs-12 col-sm-12 col-md-4">
          <span class="labelUp"><%= t('activerecord.attributes.rt_entity_subscribe.phone_number') %> <span class="asterisco">*</span></span>
          <%= f.text_field :phone_number %>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-4">
          <span class="labelUp"><%= t('activerecord.attributes.rt_entity_subscribe.phone_number_alt') %> </span>
          <%= f.text_field :phone_number_alt %>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4">
          <span class="labelUp"><%= t('activerecord.attributes.rt_entity_subscribe.email') %> <span class="asterisco">*</span></span>
          <%= f.text_field :email %>
        </div>
      </div>
    </div>
    <br/>
    <legend class="parrafo"><h4>3. Datos del representante</h4></legend>

    <div class="row">
     <div class="form-group"> 
      <div class="col-xs-12 col-sm-12 col-md-4">
        <span class="labelUp"><%= t('activerecord.attributes.rt_entity_subscribe.representative_name') %> <span class="asterisco">*</span></span>
          <%= f.text_field :representative_name %>
      </div>

      <div class="col-xs-12 col-sm-12 col-md-4">
          <span class="labelUp"><%= t('activerecord.attributes.rt_entity_subscribe.representative_first_surname') %> <span class="asterisco">*</span></span>
          <%= f.text_field :representative_first_surname %>
      </div>

      <div class="col-xs-12 col-sm-12 col-md-4">
          <span class="labelUp"><%= t('activerecord.attributes.rt_entity_subscribe.representative_second_surname') %> </span>
          <%= f.text_field :representative_second_surname %>
      </div>

     </div>
    </div>

    

    
    <br/>
    <legend class="parrafo">4. Dirección</legend>
    <div class="row">
  <div class="form-group">
    <div class="col-xs-12 col-sm-12 col-md-3">
            <span class="labelUp"><%= t('activerecord.attributes.rt_entity_subscribe.road_type_id') %> <span class="asterisco">*</span></span>
            <%= f.select :road_type_id, road_types_select_options %> 
    </div>
    
    <div class="col-xs-12 col-sm-12 col-md-5">
            <span class="labelUp"><%= t('activerecord.attributes.rt_entity_subscribe.road_name') %> <span class="asterisco">*</span></span>
            <%= f.text_field :road_name %>
    </div>    

    <div class="col-xs-12 col-sm-12 col-md-2">
            <span class="labelUp"><%= t('activerecord.attributes.rt_entity_subscribe.number_type') %> <span class="asterisco">*</span></span>
            <%= f.select :number_type, number_types_select_options %> 
    </div>

    <div class="col-xs-12 col-sm-12 col-md-2">
            <span class="labelUp"><%= t('activerecord.attributes.rt_entity_subscribe.road_number') %> <span class="asterisco">*</span></span>
            <%= f.text_field :road_number %>
    </div>
 </div> 
</div>

<div class="row">
  <div class="form-group">
    <div class="col-xs-12 col-sm-12 col-md-4">     
          <span class="labelUp"><%= t('activerecord.attributes.rt_entity_subscribe.postal_code') %> <span class="asterisco">*</span></span>
          <%= f.text_field :postal_code %>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-4">     
          <span class="labelUp"><%= t('activerecord.attributes.rt_entity_subscribe.town') %> <span class="asterisco">*</span></span>
          <%= f.text_field :town %>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-4">     
          <span class="labelUp"><%= t('activerecord.attributes.rt_entity_subscribe.province_id') %> <span class="asterisco">*</span></span>
          <%= f.select :province_id, provinces_select_options %> 
    </div>
  </div>
</div>
<br/> 
<legend class="parrafo">5. Motivo</legend>    
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12">
        <div class="form-group">
          <span class="labelUp"><%= t('activerecord.attributes.rt_entity_subscribe.request_reason') %> <span class="asterisco">*</span></span>
          <%= f.select :request_reason_id, request_reasons_select_options %> 
        </div>
      </div>
    </div>

    <div class="row" id="other_motive">
      <div class="col-xs-12 col-sm-12 col-md-12">
        <div class="form-group">
          <span class="labelUp"><%= t('activerecord.attributes.rt_entity_subscribe.other_motive') %> <span class="asterisco">*</span></span>
          <%= f.text_area :other_motive %> 
        </div>
      </div>
    </div>

</div>

<div class="button-group text-right">
  <%= f.button t('application.submit'), :class => 'button button4' %>
</div>
<% end %>
