
<% @districts = "" %>


<% year, month, day = day.split('-').map(&:to_i) %>
<% date_s = DateTime.new(year, month, day) %>


<div class="row">
           
              
                    <div class="col-xs-2 no-padding-left">
                        <p class="fecha">
                            <%= date_s.day %>

                            <span><%= Date::MONTHNAMES[date_s.month] %> <%= date_s.year %></span>
                        </p>
                    </div>
                    <div class="col-xs-10">
                        <p class="distrito"><%= @districts %></p>
                        <h3 class="titular"><%= activity.name %></h3>
                    </div>
               
           
</div>
        