
<%= search_form_for(@search_q, url:"/activities/search", :method => :get, remote: true) do |f| %>
<div id="buscarAtividades" class='form form-electronic'>
<!--
   <div class="panel-heading">
        <a href="#searcher-diary" data-toggle="collapse" class="panel-title collapsed">Buscar actividades</a>
    </div>
-->
    <div class="panel-body collapse in" id="searcher-diary">
        <form class="form">
<!--                <legend class="form-legend">¿Qué buscas?</legend>-->

                <fieldset>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group searchW">
                            <label class="labelUp" readonly>Descripción <span class="asterisco">*</span></label>
                            <%= f.text_field :activity_name_or_activity_description_cont, placeholder: "Buscar una actividad" %>
                        </div>
                    </div>

                </div>
            </fieldset>

<!--                <legend class="form-legend">¿Dónde?</legend>-->
               <fieldset>
                <div class="row">
                    <div class="col-sm-12 col-md-12">
                         <div class="form-group " style="margin-bottom:20px">
                            <label class="labelUp" readonly>Distrito <span class="asterisco">*</span></label>
                            <%= f.select :address_district_eq, @districts, include_blank: "Distrito", selected: "" %>
                        </div>
                    </div>
                    </div>
                    <div class="row">
                          <div class="col-sm-12 col-md-12">
                         <div class="form-group">

                            <label class="labelUp" readonly>Barrio <span class="asterisco">*</span></label>
                            <%= f.select :address_borough_eq, @boroughs, include_blank: "Barrio", selected: ""  %>


                        </div>
                    </div>
                    </div>



            </fieldset>
<!--                <legend class="form-legend">Tematica</legend>-->

               <fieldset>
                <div class="row">
                 <div class="col-md-12">
                  <legend class="form-legend">Tematica <span>(Seleciona una o más categorías)</span></legend>
                  <% @areas.each do |area| %>

                        <div class="form-group tagW">
                           <label>
                                <%= check_box_tag "q[activity_area_name_in][]", area.name %>
                                <span class="tag"><i class="fa fa-bicycle" aria-hidden="true"></i>
<%= area.name %></span>

                           </label>

                        </div>



                  <% end %>
                   </div>
                </div>
            </fieldset>


        </form>

        <div class="button-group text-right">
          <%= f.submit "Buscar", class: "button button4 button-icon"  %>

        </div>
</div>

</div>

<% end %>

<!-- en modo cuadricula -->
