<div class="container-fluid">
  <h1 class="titlePage">Agenda de actividades solidarias</h1>
  <div class="row">
    <div class="col-md-4">
        <%= javascript_tag do %>
          var list_days = <%= raw @list_days.to_json %>;
          var multiple = true;
        <% end %>
        <div id="fecha">

        </div>
        </div>
        <div class="col-md-8">
            <div id="activities">
            <h4 class="numActividades"><span><%= Activity.total.count %></span> actividades</h4>
  	          <div class="actividadWrapper">
  	          	<%= render partial: 'activity', collection: @activities, locals: {day_s: @day} %>	
              </div>
  
						</div>
        </div>
  </div>
</div>

<%= render "buscador" %>


<%= paginate @activities, locals: {modelo: @activities} %>



<!--
<div id="day">
    <h1> Agenda del dia <%= @day %> </h1> 
</div>
-->