<%= javascript_include_tag 'activities' %>
<div class="container-fluid">
  <h1 class="titlePage">Agenda de actividades solidarias</h1>
  <div class="row">
    <div class="col-md-4">
        <%= javascript_tag do %>
          var list_days = <%= raw @list_days.to_json %>;
          var multiple = true;
          var day_c = <%= raw @day.to_json %>
        <% end %>
        <div id="fecha">

        </div>
    </div>
    <div class="col-md-8">
            <div id="activities">
            <%= render partial: 'events/search', locals: {events: @events}  %>

						</div>
    </div>
  </div>
</div>

 <%= render "buscador" %>

<%# if @events_q.current_page != @events_q.total_pages %>
<p id="view-more">

   <%#= link_to('Ver Más', url_for(page: @events_q.current_page + 1), {:remote => true}) %>
</p>
<%# end%>



