<div class="navigation-bar" id="navbar">
    <div class="row">  
      <div class="col-md-3">
        <h1 class="header-logo">
            <a href="00-home.html">
            <span class="text-hide">Ayuntamiento de Madrid</span>
              <%= image_tag("logo-madrid.png") %>
            </a>
          </h1>
      </div>
      
        
        <div class="col-md-9 pull-right">
          <% if current_user %>
             <%= render 'shared/personal_area' %>
          <% else %>
                  <%= link_to 'Quiénes somos', new_user_session_path, class: "btn btn-default" %>
                  <%= link_to '¿Que puedes hacer?', volunteers_path, class: "btn btn-default" %>
                  <%= link_to 'Proyectos', index_i_projects_path, class: "btn btn-default" %>
                  <%= link_to 'Entidades colaboradoras', entities_path, class: "btn btn-default" %>
                  <%= link_to 'Agenda', index_i_activities_path, class: "btn btn-default" %>
                  <%= link_to 'Blog', new_user_session_path, class: "btn btn-default" %>
                  
                  <%= link_to 'Iniciar sesión', new_user_session_path, class: "button button2" %>
                
              
          <% end %>
        
      </div>
      </div>
    </div>
<header class="header" style='background-image: url(<%= asset_path("destacado-home.jpg") %>);'>
  <div class="container">
    <div class="section-cont">
      <h2 class="section-name">
        <span class="section-name-title">
          Comunidad Virtual del Voluntariado y la solidaridad en la Ciudad de Madrid
        </span>
      </h2>
    </div>

    
  
    <div class="modal-alert ">
      
        <a href="#" class="close-info" title="cerrar">Cerrar</a>
      
      <h2 class="title-modal">Proyecto urgente</h2>
      <p>
            
                <a class="link-modal" href="#">Si quieres participar.</a>
            
        </p>
    </div>


    <div class="header-carousel">
  
    </div> 
     
          

  </div>
</header>




