<!DOCTYPE html>
<html>
<head>
  <title>VolunFrontend</title>

  <script>
    var aytmad = {};
    aytmad.config = {
        routes:{
            menu:'data/menu.json',
            menuTramites:'data/menu_tramites.json',
            calendar:'04-buscador-agenda.html?vgnextchannel=27dfb4f19cce3210VgnVCM10000026205a0aRCRD&amp;cuando=cuandoDia&amp;enviar=Buscar&amp;newSearch=true&amp;fechaAccesible=',
            taxonomias:'data/XMLAutocompletarTaxonomias.xml'
        },
        constants:{
            numVisibleLinks:3,
            API_KEY: "AIzaSyBiYQM0X20DOGmT3IQ6sj4OrUeC3nEuvDs"
        }
    };
    </script>
  
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
   <div id="wrapper">
      <%= render 'layouts/header' %>
      <!--[if lt IE 9]>
      <% if browser.ie? && cookies['ie_alert_closed'] != 'true' %>
        <div data-alert class="alert-box info ie-alert-box">
          <a href="#" class="close ie-alert-box-close-js">&times;</a>
          <h2><%= t("layouts.application.ie_title") %></h2>
          <p>
            <%= t("layouts.application.ie",
            chrome: link_to(
                    t("layouts.application.chrome"), "https://www.google.com/chrome/browser/desktop/", target: "_blank"),
            firefox: link_to(
                     t("layouts.application.firefox"), "https://www.mozilla.org/firefox", target: "_blank")
            ).html_safe %>
          </p>
        </div>
      <% end %>
      <![endif]-->
   <% if true==false %>
    <%= render 'layouts/migas' %> 
   <% end %>   
   
   <div class="content">  
     <%= render 'layouts/accesibilidad' %>
   <div class="bg-fluid0">
    <div class="container"> 
      <%= render 'layouts/avisos' %>  
                <main>
                  <%= yield %>
                </main>
    </div>
    </div>
    </div>

    <%= render 'layouts/footer' %>
    <%= javascript_include_tag "js/vendor" %>
    <%= javascript_include_tag "js/ayuntamiento-madrid" %>
</div>
  </body>
</html>
