<div class="container-fluid pt60">
    <div class="row">
        <div class="col-md-12">
            <div class="mc-acceso nofluid">
<%= render(partial: 'shared/errors', locals: {model_name: @user})%>

<%= form_for(resource, as: resource_name, url: user_registration_path(resource_name), html: { method: :put }) do |f| %>
  
  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>
  <h2 class="titlePage">Formulario de cambio de contrase침a</h2>
  <p class="notes mb20">
        Los campos marcados con <em class="asterisco">*</em> son obligatorios.
</p>

              <div class="form form-electronic">
                
                <div class="mc-acceso-item login">
                     

                      <fieldset>
                            <div class="form-group">

              
                                        <label class="labelUp">Contrase침a nueva<span class="asterisco">*</span></label>
                                    
                          <%= f.password_field :password, autocomplete: "off", class: "big" %>

                      </div> 
                      </fieldset>

                      <fieldset>
                          <div class="form-group">

              
                                        <label class="labelUp">Confirmaci칩n contrase침a <span class="asterisco">*</span></label>
                                      <%= f.password_field :password_confirmation, autocomplete: "off", class: "big" %>

                      </div>
                      </fieldset>

                          <hr>
                        
                        <div class="button-group text-right">
                          <%= f.submit "Enviar", class: "event-link big mb20" %>
          </div>
          
            </div>
          </div>


     


<% end %>
</div>


        </div>
    </div>
</div>
