<div class="mc-acceso nofluid">
<%= render(partial: 'shared/errors', locals: {model_name: @user})%>

<%= form_for(resource, as: resource_name, url: user_registration_path(resource_name), html: { method: :put }) do |f| %>
  
  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>
  <div class="col-sm-6 col-xs-6 col-md-offset-3">
  <p class="notes">
        Los campos marcados con <em class="asterisco">*</em> son obligatorios.
</p>
  <div class="panel panel-type1">
            <div class="panel-heading">
                <h3 class="panel-title">Formulario de cambio de contrase침a</h3>
                
            </div>

            <div class="panel-body">
              <div class="form form-electronic">
                
                <div class="mc-acceso-item login">
                     <h4 class="legend legend-user">Datos a rellenar</h4>
                     
                      <div class="row">
                        <div class="form-group">
                          <div class="col-sm-6 col-xs-6 col-md-12">
              
                                        <span class="labelUp">Contrase침a nueva<span class="asterisco">*</span></span>
                                    
                          <%= f.password_field :password, autocomplete: "off" %>
                          </div>
                        </div>
                      </div> 
                      <br/> 
                      <div class="row">  
                        <div class="form-group">
                          <div class="col-sm-6 col-xs-6 col-md-12">
              
                                        <span class="labelUp">Confirmaci칩n contrase침a <span class="asterisco">*</span></span>
                                      <%= f.password_field :password_confirmation, autocomplete: "off" %>
                          </div>            
                        </div>
                      </div>    
                        
                        
          
            </div>
          </div>
          </div>
          <div class="button-group text-right">
                          <%= f.submit "Enviar", class: "button button4 button-icon" %>
          </div>
     
  </div>              
 </div> 
<% end %>
</div>

